# Entornos virtuales de Python
.venv/
env/
venv/
ENV/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class
*.py,cover

# Archivos de configuración de editores y sistemas operativos
.vscode/
.idea/
.DS_Store
Thumbs.db

# Volúmenes locales o datos persistentes de Docker
postgres_data/
grafana_data/
prometheus_data/

#Variables de entorno
.env

# Draw.io
*drawio.bkp

# Secretos de Kubernetes
*secrets.yml

# Directorio local de plugins y módulos de Terraform
.terraform/

# Archivos de estado (contienen información sensible de tu infraestructura)
*.tfstate
*.tfstate.*

# Archivos de plan de ejecución
*.tfplan

# Registros de fallos/crashes
crash.log
crash.*.log

# Excluir archivos de variables locales, permitiendo mantener las plantillas de ejemplo
*.tfvars
!*.tfvars.example

# Credenciales locales o tokens temporales
.terraformrc
terraform.rc