apiVersion: v1
kind: Secret
metadata:
  name: inventario-secrets
type: Opaque
stringData:
  POSTGRES_USER: "lab-CoderHouse"
  POSTGRES_PASSWORD: "DarkSouL_!!"
  POSTGRES_HOST: "db"
  POSTGRES_PORT: "5432"
  POSTGRES_DB: "inventario_ti"
  DATABASE_URL: "postgresql://lab-CoderHouse:DarkSouL_!!@db:5432/inventario_ti"