# Configuración de Conexión a PostgreSQL
POSTGRES_USER=tu_usuario_real
POSTGRES_PASSWORD=tu_password_segura
POSTGRES_HOST=nombre_contenedor_db_o_ip  # Ej: inventario_db_prod o 192.168.1.50
POSTGRES_PORT=5432
POSTGRES_DB=db